@import 'compass/reset';

body {
  font: 1.2em/1.2 'Fanwood Text', serif;
  background: url() top left no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 5%;
}
.content {
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	-webkit-column-fill: auto;
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-moz-column-fill: auto;
	column-count: 2;
	column-gap: 20px;
	column-fill: auto;
}

h1,
h2 {
  font-weight: bold;
  color: #FFFFFF;
}

p {
  padding-bottom: 1.5em;
}

article.post {
  position: relative;
  width: auto;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  column-break-inside: avoid;
  margin-bottom: 20px;

  img {
    max-width: 100%;
  }

  .post-meta {
    display: inline-block;
    background: #FFFFFF;
    padding: .5em 1em;
  }

  header,
  .post-excerpt {
    padding: 10px;
    background: #FFFFFF;
  }

  /*
    Hides the first image in the first paragraph
    We will later on extract it with javascript and put it higher up.
  */
  section p:first-child img:nth-of-type(1) { display: none; }

  img.featured {
    width: 100%;
    max-width: none;
    margin-bottom: -2.4em;
  }
}
