body {
  font-family: 'Fanwood Text', serif;
  background: url() top left no-repeat;
  padding: 5%;
  background-position: fixed;
}
article.post {
  float: left;
  width: 40%;
  max-width: 400px;
  min-width: 300px;
  padding: 10px;
  margin: 10px;
  background: #FFFFFF;
}
